<h1>Listing services</h1>

<table>
  <tr>
    <th>Service</th>
    <th>Service class</th>
    <th>Service sub class</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.service_id %></td>
    <td><%= service.service_class %></td>
    <td><%= service.service_sub_class %></td>
    <td><%= service.price %></td>
    <td><%= link_to 'Show', service %></td>
    <td><%= link_to 'Edit', edit_service_path(service) %></td>
    <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Service', new_service_path %>
