<%= form_tag(book_appointment_appointments_path) do %>
<div class="formField">
<b>Services</b> <br/>
  <%= select_tag("appointment[service]",  options_for_select(@services)) %>
</div>
<div class="formField">
<b>Employees</b> <br/>
  <%= select_tag("appointment[employee]",  options_for_select(@employees)) %>
    </div>
<div class="formField">
<b>Date</b> <br/>
  <%= text_field_tag "appointment[date]", params[:app_date], readonly: true %>
</div>
<div class="formField">
<b>Time</b> <br/>
  <%= text_field_tag "appointment[time]", params[:app_time], readonly:true %>
</div>

<div id="check_price"></div>
<div class="btnContainer">
  <%= link_to "Get Price", "javascript:void(0)",{class: 'btn btn-primary get-price'} %>
  <%= submit_tag "Book Now", class: 'btn btn-primary' %>
  <%= link_to "Cancel", search_index_path, class: 'btn btn-primary' %>
</div>

<% end %>
